# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [107]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [179]:
# Download HTML 
url = 'https://ycharts.com/companies/TSLA/revenues'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

# Filtering HTML by tag name 
tesla_data = soup.find_all('td')

# Creating a clean list with dates and revenue values
tesla_qrev = [data.text.strip() for data in tesla_data]

# Separting the previous list and creating a df 
date, rev = tesla_qrev[::2], tesla_qrev[1::2]
tesla_rev = pd.DataFrame({
    'date': date,
    'rev': rev
})

In [245]:
# Dropping the last few rows, as those are not related to the quarterly revenue. 
tesla_rev.drop(tesla_rev.tail(14).index, inplace=True)
tesla_rev.tail()

         date      rev    full_rev
31 2016-09-30   2.298B  2298000000
32 2016-06-30   1.270B  1270000000
33 2016-03-31   1.147B  1147000000
34 2015-12-31   1.214B  1214000000
35 2015-09-30  936.79M   936790000

In [243]:
# Converting the date into datatime
tesla_rev['date'] = pd.to_datetime(tesla_rev['date'])

In [227]:
def converter(n):
    if n[-1] == 'M':
        return int(float(n[:-1]) * 1e6)
    if n[-1] == 'B':
        return int(float(n[:-1]) * 1e9)

tesla_rev['full_rev'] = tesla_rev['rev'].apply(converter)
tesla_rev.head()